WHATSAPP_TOKEN=EAAhwlM8iETEBRrVTG2jcebE84ZCzkcy9xDOizwL1SKVKk6IieaK9CDMzDOKsEK3mZAvrt8qiwCPtsWzFJx06p5Sc2oATRHiZCJ9kWddXVp6YxWlQ0PnZBt0pwy2ppFARMEdAnn9xOtnJLZA8BBFbS7pArUz9EWqoUJvZBPHmxtW27DrW6L9oCRPpvPAgjnlaQG4zJBcIo7fU2YGYZCa1gZB8d3hnK7WZA00UUTu0XIxgy
VERIFY_TOKEN=deslinbot237
PHONE_NUMBER_ID=1117376571462943
